.about {
  max-width: 800px;
}
.about h2 {
  font-family: "Comic Sans MS", Times, serif;
  font-size: 1.6rem;
  font-style: italic;
}
.about p {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.6em;
}
.description {
  margin-top: 1rem;
}

@media (max-width: 1024px) {
  .about {
    max-width: 600px;
  }
}
@media (max-width: 768px) {
  .about {
    max-width: 300px;
    font-size: 1rem;
  }

  .about p {
    font-weight: 600;
  }
}

@media (max-width: 769px) {
  .my-name {
    font-size: 2rem;
  }
}
