.navbar {
  display: flex;
  gap: 2.5rem;
  margin-top: 1rem;
}
.nav-item {
  padding-inline: 1rem;
  -webkit-tap-highlight-color: transparent;
}
.nav-item:active {
  color: var(--dark-white);
  cursor: pointer;
  border-radius: 100px;
  border-bottom: 3px solid var(--primary-green-color);
}
@media (min-width: 1024px) {
  .nav-item:hover {
    color: var(--dark-white);
    cursor: pointer;
    border-radius: 100px;
    border-bottom: 3px solid var(--primary-green-color);
  }
}
.nav-item:current {
  color: var(--dark-white);
  cursor: pointer;
  border-radius: 100px;
  border-bottom: 3px solid var(--primary-green-color);
}
