.card {
  background-color: transparent;
  /* border: 1px solid white; */
  border-radius: 12px;
  padding: 1rem;
  font-family: "Times New Roman", Times, serif;
  margin-bottom: 1rem;
}

.card .title {
  border-bottom: 1px solid white;
  padding-bottom: 0.25rem;
}

.card .description {
  padding-top: 0.75rem;
  font-size: 1rem;
}
.card .tenure {
  font-size: 0.7rem;
}
