i.fab,
i.fa {
  display: inline-block;
  border-radius: 60px;
  box-shadow: 2px 2px 4px #888;
  background-color: rgba(0, 0, 0, 0.7);
  color: #ccc;
  padding: 0.3em 0.4em;
  /* padding : 0.5em  0.6em is the default value*/
}
@media (min-width: 768px) {
  i.fa:hover,
  i.fab:hover {
    background-color: #111;
    color: var(--primary-yellow-color);
    transition: ease-in 0.35s;
    opacity: 0.8;
    cursor: pointer;
  }

  .social-icon-container {
    position: fixed;
    margin-top: 2rem;
  }
}
i.fa:active,
i.fab:active {
  color: var(--primary-yellow-color);
  opacity: 0.8;
}

.social-icon-container {
  display: block;
  position: absolute;
  right: 1%;
  -webkit-tap-highlight-color: transparent;
  margin-top: 1rem;
  top: 0%;
}
.rotate-45 {
  transition: transform 1s ease-in;
  transform: rotate(45deg);
}
