.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mobile-nav-container {
  width: min(1200px, 90%);
  margin-inline: auto;
  margin-top: 20px;
}
.dropdown {
  position: absolute;
  top: 75px;
  left: 0px;
  margin-inline: 1vw;
  width: 98vw;
  background-color: rgba(37, 37, 37, 0.95);
  border-radius: 4px;
  z-index: 1;
}
.mobile-nav-link {
  display: block;
  margin-bottom: 10px;
  color: white;
  border-bottom: 1px solid white;
  padding: 0.5rem;
  padding-left: 0.75rem;
  -webkit-tap-highlight-color: transparent;
}
.mobile-nav-link:active {
  color: var(--primary-green-color);
  border-bottom-color: var(--primary-green-color);
}
.dropdown .mobile-nav-link:last-child {
  margin-bottom: 0;
  border-bottom: none;
}
.fa.fa-bars:active {
  color: var(--primary-green-color);
}
