* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
:root {
  --primary-green-color: rgb(7, 151, 110);
  --secondary-yellow-color: #fdcf62;
  --primary-yellow-color: #ffc234;
  --primary-pink-color: #f865d3;
  --secondary-white-color: #f1f1f1;
  --dark-white: #ccc;
}

/*Utility classes*/
.mt-1 {
  margin-top: 1rem;
}
.mt-2 {
  margin-top: 2rem;
}
.mb-1 {
  margin-bottom: 1rem;
}
.mb-2 {
  margin-bottom: 2rem;
}

/* Main content*/
.container {
  width: min(1200px, 90%);
  margin: auto;
  position: relative;
}
.context {
  width: 100%;
  position: absolute;
  color: #f0f0f0;
  font-size: 1.2rem;
  z-index: 1;
}

.heading {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-size: 3rem;
  font-family: "Ink Free", "Roboto Mono", Times, serif;
  /* color: var(--primary-yellow-color); */
  background: -webkit-linear-gradient(#eee, #555);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

::-webkit-scrollbar {
  width: 8px;
  border-radius: 9999px;
}
::-webkit-scrollbar-track {
  background-color: var(--primary-green-color);
}
::-webkit-scrollbar-thumb {
  border-radius: 9999px;
  background-color: rgba(0, 0, 0, 0.6);
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
@media (max-width: 769px) {
  * {
    font-size: 16px;
  }

  .heading {
    font-size: 2rem;
  }
}
