* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
html {
  scroll-behavior: smooth;
}
:root {
  --primary-dark-color: rgb(26, 25, 25);
  --secondary-dark-color: #1e1e1e;
  --primary-yellow-color: #ffc234;
  --secondary-yellow-color: #fdcf62;
  --primary-green-color: #4dfed1;
  --dark-white: #ccc;
  --secondary-white-color: #f1f1f1;
}

/*Utility classes*/
.mt-1 {
  margin-top: 1rem;
}
.mt-2 {
  margin-top: 2rem;
}
.mb-1 {
  margin-bottom: 1rem;
}
.mb-2 {
  margin-bottom: 2rem;
}

/* Main content*/
.container {
  width: min(1200px, 90%);
  margin: auto;
  position: relative;
  top: 60px;
}
.context {
  width: 100%;
  position: absolute;
  color: #f0f0f0;
  font-size: 1.2rem;
  z-index: 1;
}

.heading {
  padding-top: 100px;
  margin-bottom: 1rem;
  font-size: 3rem;
  font-family: "Lobster", cursive;
  font-family: "Ink Free", "Roboto Mono", Times, serif;
  color: #ffc234;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #555;
}
::-webkit-scrollbar-thumb {
  background: var(--primary-dark-color);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
@media (max-width: 769px) {
  * {
    font-size: 16px;
  }

  .heading {
    font-size: 2rem;
  }
}
